#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: auto;
}

#greeting-container {
  margin-top: 20px;
}

body {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#nav-bar {
    margin-left: 2%;
    width: 10%;
    background-color: lightskyblue;
    position: fixed;
    max-height: 100%;
    height: auto;
    overflow: auto;
    opacity: 0.7;
}

#nav-bar a {
    display: block;
    color:lightyellow;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 1.0;
}

#content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

button {
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: auto;
}

div {
    margin-top: 10px;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
}

#header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#intro-paragraph {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color:rgb(0, 38, 255);
}

#content h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.self-introduction {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

@media (max-width: 1300px) {
    #nav-bar {
        display: none;
    }
}